/*
* @Author: MR.S
* @Date:   2019-12-21 15:01:25
* @Last Modified by:   MR.S
* @Last Modified time: 2019-12-21 16:04:48
*/
.nav-simple{
    background: #fff;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
}
.nav-simple .logo{
    font-size: 32px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
    float: left;
}